<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav role="navigation">
        <sm-sidenav (sidenavClose)="sidenav.close()"></sm-sidenav>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column">
        <sm-navbar (sidenavToggle)="sidenav.toggle()"></sm-navbar>
        <main>
            <router-outlet>
                <span align="center" *ngIf="loading">
          <mat-spinner color="primary"></mat-spinner>
        </span>
            </router-outlet>
        </main>

        <footer fxFlexOffset="auto">
            <sm-footer></sm-footer>
        </footer>
    </mat-sidenav-content>
</mat-sidenav-container>